.react-calendar {
    background-color: #f0fdf4 !important;
    border: 1px solid #bbf7d0 !important;
}

.react-calendar__tile {
    background-color: #f0fdf4 !important;
    color: #166534 !important;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #dcfce7 !important;
}

.react-calendar__tile--active {
    background-color: #86efac !important;
}

.react-calendar__tile--now {
    background-color: #bbf7d0 !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #dcfce7 !important;
}

.react-calendar__month-view__days__day--weekend {
    color: #15803d !important;
}

.react-calendar__navigation button {
    color: #166534 !important;
} 